I do not use the assets to measure the performance

In [2]:
import pandas as pd
import sys
PATH = sys.path[0]

raw_data = pd.read_csv(PATH + "/Dataset/df_hh_EnR_ttwaName_asset_not_drop.csv")
raw_data

,Unnamed: 0,ttwa,ttwa_code,year,firms,total_firms,entry_rate,hh,average_assets
0,0,Barnsley,E30000004,1998,10,749,0.013351,0.120000,19405.250000
1,1,Barnsley,E30000004,1999,6,749,0.008011,0.333333,759500.500000
2,2,Barnsley,E30000004,2000,8,749,0.010681,0.156250,286162.333333
3,3,Barnsley,E30000004,2001,8,749,0.010681,0.125000,129527.428571
4,4,Barnsley,E30000004,2002,11,749,0.014686,0.090909,56740.400000
...,...,...,...,...,...,...,...,...,...
3084,3084,York,E30000294,2014,136,1411,0.096386,0.053417,227350.991736
3085,3085,York,E30000294,2015,129,1411,0.091425,0.072892,35323.839623
3086,3086,York,E30000294,2016,118,1411,0.083629,0.054582,207957.606742
3087,3087,York,E30000294,2017,126,1411,0.089298,0.068405,276970.478261
3088,3088,York,E30000294,2018,156,1411,0.110560,0.059172,0.000000

In [65]:
raw_data = pd.read_csv(PATH + "/Dataset/year_ttwa_enR_hh_den.csv")
raw_data = raw_data[["TTWA11CD","ttwa","year","entry_rate","hh","average_assets","density"]].rename({"TTWA11CD":"ttwa_code"},axis=1).reset_index(drop=True)

$\ Dynamics\ Variable_{i,t}\ =\ a_1 + b_1 \ firms_{i,t} + b_2 \ HHI_{i,t} + b_3 \ location_i + b_4 \ year_t + e_{i,t} $

* $t$ means year -- `birth_year` a dummy variable
* $i$ means location -- `ttwa` (travel to work area)
* $Dynamics\ Variable_{i,t}$ in (1) means `Entry_Rate` in $t$ and $i$ 
* $dynamics_{i,t}$ in (2) means `Entry_Rate` in a specific $t$ and $i$ 
* $firms_{i,t}$ means `Count_of_tech_firms` in a specific $t$ and $i$
* $density_{i,t}$ means `The_density_of_tech_firms` in a specific $t$ and $i$
* $HHI_{i,t}$ means `Herfindahl-Hirschman Index` in a specific $t$ and $i$

In [62]:
# environment preparation
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', 300) # specifies number of rows to show
pd.options.display.float_format = '{:40,.4f}'.format # specifies default number format to 4 decimal places
plt.style.use('ggplot') # specifies that graphs should use ggplot styling
%matplotlib inline

|Independent Variables     | Type      |Description||
| --------------- |:------:| :---:|---:|
|Firms      |   numeric   |  The number of tech firms |
|Herfindahl-Hirschman\ Index      |   numeric   |  The index measuring the industry mix  |
|Year     |   category   |  Years from 1998 to 2018  |
|Location      |   category   |  Top ten clusters of companies in England |

In [66]:
# transform year to category type
df = raw_data.copy()
df.year = df.year.astype("category")
df.ttwa = df.ttwa.astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3089 entries, 0 to 3088
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ttwa_code       3089 non-null   object
 1   ttwa            3089 non-null   category
 2   year            3089 non-null   category
 3   entry_rate      3089 non-null   float64
 4   hh              3089 non-null   float64
 5   average_assets  3089 non-null   float64
 6   density         3089 non-null   float64
dtypes: category(2), float64(4), object(1)
memory usage: 136.8+ KB

In [67]:
# intro dummy variables
# df.year = df.year.astype("int")
df = df.drop({"ttwa_code"},axis=1)
df = pd.get_dummies(df)

# add dummies operation requirement 
# Set the reference object is ttwa_E30000234ï¼ˆLondonï¼‰
# drop Birmingham for dummies variables comparasion
# df = df.drop(['ttwa_London'], axis=1)

# gd means get dummies
df_enR_hh_den = df.copy()

In [68]:
df_enR_hh_den

,entry_rate,hh,average_assets,density,ttwa_Andover,ttwa_Ashford,ttwa_Banbury,ttwa_Barnsley,ttwa_Barnstaple,ttwa_Barrow-in-Furness,...,year_2009,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
0,0.0134,0.1200,"19,405.2500",0.0292,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0080,0.3333,"759,500.5000",0.0175,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.0107,0.1562,"286,162.3333",0.0233,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.0107,0.1250,"129,527.4286",0.0233,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.0147,0.0909,"56,740.4000",0.0321,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3084,0.0964,0.0534,"227,350.9917",0.0762,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3085,0.0914,0.0729,"35,323.8396",0.0723,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3086,0.0836,0.0546,"207,957.6067",0.0661,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3087,0.0893,0.0684,"276,970.4783",0.0706,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3088,0.1106,0.0592,0.0000,0.0874,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [69]:
# VIF
# VIF method
from statsmodels.stats.outliers_influence import variance_inflation_factor 
from statsmodels.tools.tools import add_constant

def drop_column_using_vif_(df, list_var_not_to_remove, thresh=5):
    '''
    Calculates VIF each feature in a pandas dataframe, and repeatedly drop the columns with the highest VIF
    A constant must be added to variance_inflation_factor or the results will be incorrect

    :param df: the pandas dataframe containing only the predictor features, not the response variable
    :param list_var_not_to_remove: the list of variables that should not be removed even though it has a high VIF. For example, dummy (or indicator) variables represent a categorical variable with three or more categories.
    :param thresh: the max VIF value before the feature is removed from the dataframe
    :return: dataframe with multicollinear features removed
    '''
    while True:
        # adding a constatnt item to the data
        df_with_const = add_constant(df)

        vif_df = pd.Series([variance_inflation_factor(df_with_const.values, i) 
               for i in range(df_with_const.shape[1])], name= "VIF",
              index=df_with_const.columns).to_frame()

        # drop the const
        vif_df = vif_df.drop('const').drop(list_var_not_to_remove)
        
        print('Max VIF:', vif_df.VIF.max())
        
        # if the largest VIF is above the thresh, remove a variable with the largest VIF
        if vif_df.VIF.max() > thresh:
            # If there are multiple variables with the maximum VIF, choose the first one
            index_to_drop = vif_df.index[vif_df.VIF == vif_df.VIF.max()].tolist()[0]
            print('Dropping: {}'.format(index_to_drop))
            df = df.drop(columns = index_to_drop)
        else:
            # No VIF is above threshold. Exit the loop
            break

    return df

# All tech firms in England (OLS)

$\ Dynamics\ Variable_{i,t}\ =\ a_1 + b_1 \ firms_{i,t} + b_2 \ HHI_{i,t} + b_3 \ location_i + b_4 \ year_t + e_{i,t} $

In [71]:
df = df_enR_hh_den.copy()

predictors_X = df.drop({'entry_rate','average_assets'}, axis=1) # drop the Y_1 and Y_2
#response_Y = df['entry_rate']
response_Y = np.log(df['entry_rate']) # sqrt is created for residual analysis
list_var_not_to_remove = ["density","hh"] # this is a list of dummy variables that represent a categorical variable with three or more categories. They should not be removed even if it has a high VIF. 

df_predictors_select_VIF = drop_column_using_vif_(predictors_X, list_var_not_to_remove, thresh=5)
print("The columns remaining after VIF selection are:")
print(df_predictors_select_VIF.columns)

regressor_OLS = sm.OLS(endog=response_Y, exog=sm.add_constant(df_predictors_select_VIF)).fit()
regressor_OLS.summary()

Max VIF: inf
Dropping: ttwa_Andover
Max VIF: inf
Dropping: year_1998
Max VIF: 2.5801978790956897
The columns remaining after VIF selection are:
Index(['hh', 'density', 'ttwa_Ashford', 'ttwa_Banbury', 'ttwa_Barnsley',
       'ttwa_Barnstaple', 'ttwa_Barrow-in-Furness', 'ttwa_Basingstoke',
       'ttwa_Bath', 'ttwa_Bedford',
       ...
       'year_2009', 'year_2010', 'year_2011', 'year_2012', 'year_2013',
       'year_2014', 'year_2015', 'year_2016', 'year_2017', 'year_2018'],
      dtype='object', length=170)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             entry_rate   R-squared:                       0.898
Model:                            OLS   Adj. R-squared:                  0.892
Method:                 Least Squares   F-statistic:                     151.2
Date:                Wed, 18 Aug 2021   Prob (F-statistic):               0.00
Time:                        17:37:26   Log-Likelihood:                -402.50
No. Observations:                3089   AIC:                             1147.
Df Residuals:                    2918   BIC:                             2179.
Df Model:                         170
Covariance Type:            nonrobust
=========================================================================================================
                                            coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
const                                    -4.1138      0.068    -60.939      0.000      -4.246      -3.981
hh                                       -1.3320      0.045    -29.851      0.000      -1.420      -1.245
density                                   0.3904      0.019     20.340      0.000       0.353       0.428
ttwa_Ashford                             -0.1346      0.088     -1.538      0.124      -0.306       0.037
ttwa_Banbury                             -0.0463      0.088     -0.529      0.597      -0.218       0.125
ttwa_Barnsley                            -0.1689      0.088     -1.928      0.054      -0.341       0.003
ttwa_Barnstaple                           0.1286      0.088      1.469      0.142      -0.043       0.300
ttwa_Barrow-in-Furness                    0.0038      0.088      0.044      0.965      -0.168       0.176
ttwa_Basingstoke                         -0.0635      0.088     -0.725      0.468      -0.235       0.108
ttwa_Bath                                -0.0921      0.088     -1.051      0.293      -0.264       0.080
ttwa_Bedford                             -0.1915      0.088     -2.186      0.029      -0.363      -0.020
ttwa_Bideford                             0.2426      0.090      2.683      0.007       0.065       0.420
ttwa_Birkenhead                          -0.3730      0.088     -4.251      0.000      -0.545      -0.201
ttwa_Birmingham                          -0.4125      0.088     -4.690      0.000      -0.585      -0.240
ttwa_Blackburn                           -0.1738      0.088     -1.984      0.047      -0.346      -0.002
ttwa_Blackpool                           -0.7582      0.088     -8.588      0.000      -0.931      -0.585
ttwa_Blandford Forum and Gillingham       0.0517      0.088      0.590      0.555      -0.120       0.223
ttwa_Blyth and Ashington                 -0.1403      0.089     -1.583      0.113      -0.314       0.033
ttwa_Boston                               0.1773      0.090      1.966      0.049       0.000       0.354
ttwa_Bournemouth                         -0.8525      0.089     -9.601      0.000      -1.027      -0.678
ttwa_Bradford                            -0.3539      0.088     -4.037      0.000      -0.526      -0.182
ttwa_Bridgwater                           0.0785      0.088      0.896      0.371      -0.093       0.250
ttwa_Bridlington                          0.3832      0.089      4.292      0.000       0.208       0.558
ttwa_Bridport                             0.3215      0.089      3.613      0.000       0.147       0.496
ttwa_Brighton                            -0.8846      0.091     -9.682      0.000      -1.064      -0.705
ttwa_Bristol                             -0.2416      0.088     -2.753      0.006      -0.414      -0.070
ttwa_Bude                                 0.4878      0.092      5.293      0.000       0.307       0.668
ttwa_Burnley                             -0.0379      0.088     -0.433      0.665      -0.210       0.134
ttwa_Burton upon Trent                   -0.0486      0.088     -0.555      0.579      -0.220       0.123
ttwa_Bury St Edmunds                      0.0069      0.088      0.079      0.937      -0.165       0.179
ttwa_Buxton                               0.2062      0.089      2.323      0.020       0.032       0.380
ttwa_Cambridge                           -0.1819      0.088     -2.075      0.038      -0.354      -0.010
ttwa_Canterbury                          -0.1313      0.088     -1.499      0.134      -0.303       0.040
ttwa_Chelmsford                          -0.1300      0.088     -1.484      0.138      -0.302       0.042
ttwa_Cheltenham                          -0.0676      0.088     -0.771      0.441      -0.239       0.104
ttwa_Chesterfield                         0.0063      0.088      0.071      0.943      -0.165       0.178
ttwa_Chichester and Bognor Regis         -0.1110      0.088     -1.266      0.206      -0.283       0.061
ttwa_Clacton                              0.0709      0.088      0.807      0.420      -0.101       0.243
ttwa_Colchester                          -0.1382      0.088     -1.578      0.115      -0.310       0.034
ttwa_Corby                               -0.1391      0.089     -1.569      0.117      -0.313       0.035
ttwa_Coventry                            -0.2612      0.088     -2.980      0.003      -0.433      -0.089
ttwa_Crawley                             -0.0992      0.088     -1.131      0.258      -0.271       0.073
ttwa_Crewe                               -0.0658      0.088     -0.752      0.452      -0.238       0.106
ttwa_Cromer and Sheringham                0.2154      0.088      2.448      0.014       0.043       0.388
ttwa_Darlington                          -0.2296      0.088     -2.623      0.009      -0.401      -0.058
ttwa_Derby                               -0.3046      0.088     -3.476      0.001      -0.476      -0.133
ttwa_Doncaster                           -0.3200      0.088     -3.654      0.000      -0.492      -0.148
ttwa_Dorchester and Weymouth             -0.1791      0.088     -2.047      0.041      -0.351      -0.008
ttwa_Dudley                              -0.2638      0.088     -3.004      0.003      -0.436      -0.092
ttwa_Durham and Bishop Auckland          -0.1445      0.088     -1.650      0.099      -0.316       0.027
ttwa_Eastbourne                          -0.1138      0.088     -1.299      0.194      -0.286       0.058
ttwa_Evesham                              0.0495      0.088      0.565      0.572      -0.122       0.221
ttwa_Exeter                              -0.0764      0.088     -0.872      0.384      -0.248       0.095
ttwa_Falmouth and Helston                -0.0149      0.088     -0.171      0.865      -0.187       0.157
ttwa_Folkestone and Dover                -0.0072      0.088     -0.082      0.934      -0.179       0.164
ttwa_Gloucester                          -0.0302      0.088     -0.344      0.731      -0.202       0.142
ttwa_Grantham                             0.0293      0.088      0.334      0.738      -0.142       0.201
ttwa_Great Yarmouth                       0.0582      0.088      0.663      0.507      -0.114       0.230
ttwa_Grimsby                             -0.1660      0.088     -1.897      0.058      -0.338       0.006
ttwa_Guildford and Aldershot             -0.1037      0.088     -1.183      0.237      -0.276       0.068
ttwa_Halifax                             -0.1472      0.088     -1.681      0.093      -0.319       0.025
ttwa_Harrogate                            0.0135      0.088      0.154      0.878      -0.158       0.185
ttwa_Hartlepool                          -0.1206      0.089     -1.358      0.175      -0.295       0.054
ttwa_Hastings                            -0.1480      0.088     -1.690      0.091      -0.320       0.024
ttwa_Hereford                            -0.0235      0.088     -0.269      0.788      -0.195       0.148
ttwa_Hexham and Haltwhistle               0.2103      0.089      2.368      0.018       0.036       0.384
ttwa_High Wycombe and Aylesbury          -0.1398      0.088     -1.595      0.111      -0.312       0.032
ttwa_Huddersfield                        -0.2443      0.088     -2.788      0.005      -0.416      -0.072
ttwa_Hull                                -0.1387      0.088     -1.582      0.114      -0.311       0.033
ttwa_Huntingdon                          -0.0566      0.088     -0.646      0.518      -0.228       0.115
ttwa_Ipswich                             -0.0459      0.088     -0.524      0.600      -0.218       0.126
ttwa_Isle of Wight                       -0.0014      0.088     -0.016      0.987      -0.173       0.170
ttwa_Kendal                               0.0899      0.088      1.027      0.304      -0.082       0.262
ttwa_Kettering and Wellingborough        -0.1677      0.088     -1.915      0.056      -0.339       0.004
ttwa_King's Lynn                         -0.0820      0.088     -0.936      0.349      -0.254       0.090
ttwa_Kingsbridge and Dartmouth            0.2898      0.089      3.250      0.001       0.115       0.465
ttwa_Lancaster and Morecambe             -0.0912      0.088     -1.042      0.298      -0.263       0.080
ttwa_Launceston                           0.4295      0.090      4.754      0.000       0.252       0.607
ttwa_Leamington Spa                      -0.1334      0.088     -1.522      0.128      -0.305       0.038
ttwa_Leeds                               -0.4075      0.088     -4.638      0.000      -0.580      -0.235
ttwa_Leicester                           -0.2496      0.088     -2.848      0.004      -0.421      -0.078
ttwa_Lincoln                             -0.1725      0.088     -1.969      0.049      -0.344      -0.001
ttwa_Liskeard                             0.2521      0.091      2.756      0.006       0.073       0.431
ttwa_Liverpool                           -0.4386      0.088     -4.997      0.000      -0.611      -0.267
ttwa_London                              -1.2943      0.100    -12.976      0.000      -1.490      -1.099
ttwa_Lowestoft                           -0.0841      0.088     -0.960      0.337      -0.256       0.088
ttwa_Ludlow                               0.1596      0.088      1.821      0.069      -0.012       0.331
ttwa_Luton                               -0.4084      0.088     -4.638      0.000      -0.581      -0.236
ttwa_Malton                               0.2268      0.090      2.520      0.012       0.050       0.403
ttwa_Manchester                          -0.4286      0.088     -4.867      0.000      -0.601      -0.256
ttwa_Mansfield                           -0.1664      0.088     -1.901      0.057      -0.338       0.005
ttwa_Margate and Ramsgate                -0.2704      0.088     -3.088      0.002      -0.442      -0.099
ttwa_Medway                              -0.2349      0.088     -2.680      0.007      -0.407      -0.063
ttwa_Middlesbrough and Stockton          -0.3347      0.088     -3.821      0.000      -0.506      -0.163
ttwa_Milton Keynes                       -0.2462      0.088     -2.811      0.005      -0.418      -0.074
ttwa_Minehead                             0.6036      0.092      6.544      0.000       0.423       0.784
ttwa_Newbury                              0.0125      0.088      0.143      0.886      -0.159       0.184
ttwa_Newcastle                           -0.2843      0.088     -3.243      0.001      -0.456      -0.112
ttwa_Northallerton                        0.0614      0.088      0.701      0.483      -0.110       0.233
ttwa_Northampton                         -0.2003      0.088     -2.286      0.022      -0.372      -0.028
ttwa_Norwich                             -0.1107      0.088     -1.263      0.207      -0.283       0.061
ttwa_Nottingham                          -0.2538      0.088     -2.893      0.004      -0.426      -0.082
ttwa_Oxford                              -0.0891      0.088     -1.017      0.309      -0.261       0.083
ttwa_Penrith and Appleby                  0.2285      0.090      2.541      0.011       0.052       0.405
ttwa_Penzance                             0.2133      0.088      2.423      0.015       0.041       0.386
ttwa_Peterborough                        -0.1603      0.088     -1.830      0.067      -0.332       0.011
ttwa_Plymouth                            -0.2231      0.088     -2.548      0.011      -0.395      -0.051
ttwa_Poole                               -0.1402      0.088     -1.600      0.110      -0.312       0.032
ttwa_Portsmouth                          -0.3313      0.088     -3.773      0.000      -0.503      -0.159
ttwa_Preston                             -0.1801      0.088     -2.055      0.040      -0.352      -0.008
ttwa_Reading                             -0.1505      0.088     -1.716      0.086      -0.323       0.021
ttwa_Redruth and Truro                   -0.0825      0.088     -0.942      0.346      -0.254       0.089
ttwa_Salisbury                           -0.0260      0.088     -0.297      0.767      -0.198       0.146
ttwa_Scarborough                          0.0416      0.088      0.474      0.635      -0.131       0.214
ttwa_Scunthorpe                          -0.1329      0.088     -1.519      0.129      -0.305       0.039
ttwa_Sheffield                           -0.2978      0.088     -3.394      0.001      -0.470      -0.126
ttwa_Shrewsbury                          -0.0073      0.088     -0.083      0.934      -0.179       0.164
ttwa_Sidmouth                             0.1720      0.088      1.963      0.050       0.000       0.344
ttwa_Skegness and Louth                   0.1075      0.088      1.227      0.220      -0.064       0.279
ttwa_Skipton                              0.1558      0.088      1.779      0.075      -0.016       0.327
ttwa_Slough and Heathrow                 -0.6185      0.090     -6.870      0.000      -0.795      -0.442
ttwa_Southampton                         -0.1965      0.088     -2.242      0.025      -0.368      -0.025
ttwa_Southend                            -0.3191      0.088     -3.629      0.000      -0.491      -0.147
ttwa_Spalding                             0.0944      0.088      1.077      0.281      -0.077       0.266
ttwa_St Austell and Newquay              -0.0658      0.088     -0.752      0.452      -0.237       0.106
ttwa_Stafford                            -0.0641      0.088     -0.732      0.464      -0.236       0.108
ttwa_Stevenage and Welwyn Garden City    -0.2093      0.088     -2.388      0.017      -0.381      -0.037
ttwa_Stoke-on-Trent                      -0.1527      0.088     -1.743      0.081      -0.325       0.019
ttwa_Street and Wells                     0.0271      0.088      0.309      0.757      -0.145       0.199
ttwa_Sunderland                          -0.2550      0.088     -2.913      0.004      -0.427      -0.083
ttwa_Swindon                             -0.0431      0.088     -0.493      0.622      -0.215       0.129
ttwa_Taunton                             -0.0975      0.088     -1.113      0.266      -0.269       0.074
ttwa_Telford                             -0.0913      0.088     -1.042      0.297      -0.263       0.080
ttwa_Thetford and Mildenhall              0.0983      0.088      1.124      0.261      -0.073       0.270
ttwa_Torquay and Paignton                -0.0843      0.088     -0.962      0.336      -0.256       0.087
ttwa_Trowbridge                          -0.1053      0.088     -1.203      0.229      -0.277       0.066
ttwa_Tunbridge Wells                     -0.0747      0.088     -0.852      0.394      -0.246       0.097
ttwa_Wadebridge                           0.5332      0.093      5.752      0.000       0.351       0.715
ttwa_Wakefield and Castleford            -0.1745      0.088     -1.992      0.046      -0.346      -0.003
ttwa_Warrington and Wigan                -0.5471      0.088     -6.233      0.000      -0.719      -0.375
ttwa_Weston-super-Mare                   -0.0940      0.088     -1.073      0.283      -0.266       0.078
ttwa_Whitby                               0.6314      0.096      6.574      0.000       0.443       0.820
ttwa_Whitehaven                           0.1971      0.090      2.184      0.029       0.020       0.374
ttwa_Wisbech                              0.0466      0.088      0.532      0.595      -0.125       0.218
ttwa_Wolverhampton and Walsall           -0.2494      0.088     -2.845      0.004      -0.421      -0.078
ttwa_Worcester and Kidderminster         -0.0617      0.088     -0.704      0.482      -0.234       0.110
ttwa_Workington                          -0.0510      0.090     -0.567      0.571      -0.227       0.125
ttwa_Worksop and Retford                 -0.0535      0.089     -0.604      0.546      -0.227       0.120
ttwa_Worthing                            -0.1870      0.088     -2.131      0.033      -0.359      -0.015
ttwa_Yeovil                              -0.0594      0.088     -0.678      0.498      -0.231       0.112
ttwa_York                                -0.0680      0.088     -0.777      0.438      -0.240       0.104
year_1999                                 0.0089      0.034      0.264      0.792      -0.057       0.075
year_2000                                 0.0897      0.034      2.676      0.007       0.024       0.155
year_2001                                 0.0480      0.034      1.416      0.157      -0.018       0.114
year_2002                                 0.4486      0.034     13.191      0.000       0.382       0.515
year_2003                                 0.7017      0.034     20.616      0.000       0.635       0.768
year_2004                                 0.4226      0.034     12.490      0.000       0.356       0.489
year_2005                                 0.5476      0.034     16.257      0.000       0.482       0.614
year_2006                                 0.7129      0.034     21.034      0.000       0.646       0.779
year_2007                                 1.0062      0.034     29.651      0.000       0.940       1.073
year_2008                                 0.8184      0.034     24.169      0.000       0.752       0.885
year_2009                                 0.9311      0.034     27.252      0.000       0.864       0.998
year_2010                                 1.1446      0.034     33.405      0.000       1.077       1.212
year_2011                                 1.3232      0.034     38.571      0.000       1.256       1.390
year_2012                                 1.4335      0.034     41.678      0.000       1.366       1.501
year_2013                                 1.6030      0.035     46.226      0.000       1.535       1.671
year_2014                                 1.7812      0.035     51.222      0.000       1.713       1.849
year_2015                                 1.8594      0.035     53.284      0.000       1.791       1.928
year_2016                                 1.8165      0.035     51.966      0.000       1.748       1.885
year_2017                                 1.8666      0.035     53.158      0.000       1.798       1.935
year_2018                                 2.1749      0.036     60.691      0.000       2.105       2.245
==============================================================================
Omnibus:                      248.517   Durbin-Watson:                   1.292
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              949.182
Skew:                          -0.327   Prob(JB):                    7.72e-207
Kurtosis:                       5.636   Cond. No.                         156.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""